header{
    width: 100%;
    height: 5rem;
    display: flex;
    border: 1px solid black;
}
.user{
    color: black;
    justify-content: flex-start;
}
.git{
    width: 6rem;
    height: 2rem;
    background-color: rgb(92, 89, 89);
    color: white;
    padding: 0.5rem 1rem;
    justify-content: flex-end;
}